main(role="main")
  section#new
    h2
      if data.category
        if data.category.japanese
          | #{data.category.japanese}
        else
          | #{data.category.name}
      else
        | 新着記事一覧
    mixin post(post)
      li
        mixin naiIchiran()
          div.new-article-image
            if post.image.exists
              img(src=post._.image.thumbnail(580,436)).img.pull-right
          div.new-article-introduction
            p.new-article-icon
              if post.categories && post.categories.length
                each cat, i in post.categories
                  span= cat.japanese
            h3.new-article-title= post.title
            p.new-article-aside
              span.date
                if post.publishedDate
                  | #{post._.publishedDate.format('YYYY年MM月DD日')}
              if post.series
                span.series #{post.series.name}
                span.series-option
                  if post.seriesCount
                    | 第#{post.seriesCount}回
                    if post.isSeriesFinal
                      |（最終回）
              span.series-author
                if post.author
                  | #{post.author.japanese}
            p.new-article-description!= post.content.brief
        if post.categories.length
          a(href='/articles/' + post.categories[0].key + '/' + post.slug)
            +naiIchiran()
        else
          a(href='/articles/' + '-/' + post.slug)
            +naiIchiran()

    block content
      if filters.category && !data.category
        h3.text-muted Invalid Category.
      else
        if data.posts.results.length
          //- if data.posts.totalPages > 1
          //-   h4.text-weight-normal Showing 
          //-     strong #{data.posts.first}
          //-     |  to 
          //-     strong #{data.posts.last}
          //-     |  of 
          //-     strong #{data.posts.total}
          //-     |  posts.
          //- else
          //-   h4.text-weight-normal Showing #{utils.plural(data.posts.results.length, '* post')}.
          ul.new-articles
            each post in data.posts.results
              +post(post)
          
          if data.posts.totalPages > 1
            .pager
              ul
                if data.posts.previous
                  li.prev: a(href='?page=' + data.posts.previous)
                    span.glyphicon.glyphicon-chevron-left 前へ
                else
                  li.prev.disabled: a(href='?page=' + 1)
                    span.glyphicon.glyphicon-chevron-left 前へ
                each p, i in data.posts.pages
                  li(class=data.posts.currentPage == p ? 'current' : null)
                    a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
                if data.posts.next
                  li.next: a(href='?page=' + data.posts.next)
                    span.glyphicon.glyphicon-chevron-right 次へ
                else
                  li.next.disabled: a(href='?page=' + data.posts.totalPages)
                    span.entypo.glyphicon.glyphicon-chevron-right 次へ
        else
          if data.category
            h3.text-muted There are no posts in the category #{data.category.name}.
          else
            h3.text-muted There are no posts yet.
