nav#page-navi
  //- if data.navigations.results
  //-   p #{data.navigations}
  ul
    each category in data.navigations
      li
        a(href="/articles/"+category.key) #{category.japanese}
          .page-navi-inner-wrap
            .page-navi-inner
              .page-navi-inner-recommend
                if !category.categoryPostsRecommend
                  p このカテゴリのおすすめ記事はまだ投稿されていません。
                else
                  ul
                    each post in category.categoryPostsRecommend
                      li
                        a(href='/articles/' + category.key + '/' + post.slug)
                          if post.image.exists
                            img(src=post._.image.thumbnail(580,436))
                          //- img(src="/images/common/230x173_01.jpg", alt="")
                          span #{post.title}
              .page-navi-inner-new
                ul
                  each post in category.categoryPostsOrdered
                    li
                      a(href='/articles/' + category.key + '/' + post.slug)
                        if post.image.exists
                          img(src=post._.image.thumbnail(100,100))
                        span #{post.title}
