main(role="main")
  article(id="article" class="article")
    if !data.post
      h2.article-title 存在しないページです。
    else
      .article-info
        if data.post.categories && data.post.categories.length
          each cat, cat_i in data.post.categories
            span.genre
              if cat.japanese
                | #{cat.japanese}
              else
                | #{cat.name}
        if data.post.publishedDate
          span.date= data.post._.publishedDate.format('YYYY年MM月DD日')
        .sns-area
      h2.article-title
        if data.post.series
          span.sub-title #{data.post.series.name}
        | #{data.post.title}
      if data.post.author
        .writer
          .writer-image
            p
              img(src="http://via.placeholder.com/80x80/283962/fff/?text=spc01", alt="")
          .writer-info
            .writer-name
              | #{data.post.author.japanese}
              span.office （#{data.post.author.company}）
            .writer-profile
              != data.post.author.profile
            if data.post.author.website
              .writer-website
                a(href=data.post.author.website.url target="_blank") #{data.post.author.website.title}
      .main-image
        if data.post.image.exists
          p: img(src=data.post._.image.fit(), alt="")
      section.text
        != data.post.content.full
    //- .article-subcontents
    //-   p ※著者に関連するサブコンテンツ等のスペース
    //- .info #{data.post}
  section#related
    include ../_related
  section#recommend
    include ../_recommend
