main(role="main")
  article(id="article" class="article")
    if !data.post
      h2 Invalid Post.
    else
      .article-info
        if data.post.categories && data.post.categories.length
          each cat, cat_i in data.post.categories
            span.genre= cat.name
        if data.post.publishedDate
          span.date= data.post._.publishedDate.format('YYYY年MM月DD日')
        .sns-area
      h2.article-title
        span.sub-title sub-title
        | #{data.post.title}
      .writer
        .writer-image
          p
            img(src="http://via.placeholder.com/80x80/283962/fff/?text=spc01", alt="")
        .writer-info
          p.writer-name
            | #{data.post.author.name.first}
            span.office （△△△△△△所属）
          p.writer-profile
            | 著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール
          p.writer-website
            a(href="" target="_blank") 著者サイトへのリンク
      .main-image
        if data.post.image.exists
          p: img(src=data.post._.image.fit(), alt="")
      section.text
        != data.post.content.full
    .article-subcontents
      p ※著者に関連するサブコンテンツ等のスペース
    .info #{data.post}
  section#related
    include ../_related
  section#recommend
    include ../_recommend
