main(role="main")
  section#main-slide
    .main-slide-area
      ul#slides.slides.active.clearfix
        each post in data.slide.results
          li
            mixin slideContents()
              if post.image.exists
                img(src=post._.image.thumbnail(730,425))
              else
                img(src="/images/common/730x425_01.jpg", alt="")
              span #{post.title}
            if post.categories.length
              a(href='/articles/' + post.categories[0].key + '/' + post.slug)
                +slideContents()
            else
              a(href='/articles/' + '-/' + post.slug)
                +slideContents()
      #main-slide-btn
        a.slide-prev(href="#") 前へ
        a.slide-next(href="#") 次へ
  section#recommend
    include ../_recommend
  section#new
    h2 新着記事
    ul.new-articles
      each post in data.posts.results
        li
          mixin naiIndex()
            div.new-article-image
              if post.image.exists
                img(src=post._.image.thumbnail(580,436)).img.pull-right
            div.new-article-introduction
              p.new-article-icon
                if post.categories && post.categories.length
                  each cat, i in post.categories
                    span= cat.japanese
              h3.new-article-title= post.title
              p.new-article-aside
                span.date
                  if post.publishedDate
                    | #{post._.publishedDate.format('YYYY年MM月DD日')}
                if post.series
                  span.series #{post.series.name}
                  span.series-option #{post.series.option}
                span.series-author
                  if post.author
                    | #{post.author.japanese}
              .new-article-description!= post.content.brief
          if post.categories.length
            a(href='/articles/' + post.categories[0].key + '/' + post.slug)
              +naiIndex()
          else
            a(href='/articles/' + '-/' + post.slug)
              +naiIndex()

    if data.posts.totalPages > 1
      .pager
        ul
          if data.posts.next
            li.next: a(href='/articles/?page=' + data.posts.next)
              span.glyphicon.glyphicon-chevron-right もっと見る