main(role="main")
  section#main-slide
    .main-slide-area
      ul#slides.slides.active.clearfix
        li#slide00
          a(href="/article/01/01.html")
            img(src="/images/common/730x425_01.jpg", alt="")
            span この起業家精神が活路を拓く 中小企業は規模より&quot;質&quot;で勝負！
        li#slide01
          a(href="/article/01/02.html")
            img(src="/images/common/730x425_02.jpg", alt="")
            span この起業家精神が活路を拓く 得手分野を見定め、極めれば、アリも巨象に勝つ
        li#slide02
          a(href="/article/02/01.html")
            img(src="/images/common/730x425_03.jpg", alt="")
            span ハンコの基礎知識 印鑑、印章、印影…それぞれの意味は？
        li#slide03
          a(href="/article/02/02.html")
            img(src="/images/common/730x425_04.jpg", alt="")
            span ハンコの基礎知識 押印と捺印、記名と署名はどう違う？
        li#slide04(data-clonedlist)
          a(href="/article/03/01.html")
            img(src="/images/common/730x425_05.jpg", alt="")
            span 黄金の国ジパングは本当だった！金の産地を示す地名
      #main-slide-btn
        a.slide-prev(href="#") 前へ
        a.slide-next(href="#") 次へ
  section#recommend
    include ../_recommend
  section#new
    h2 新着記事
    ul.new-articles
      each post in data.posts.results
        li
          mixin nai()
            div.new-article-image
              if post.image.exists
                img(src=post._.image.fit()).img.pull-right
            div.new-article-introduction
              h3.new-article-title= post.title
              p.lead.text-muted Posted 
                if post.publishedDate
                  | on #{post._.publishedDate.format('YYYY年MM月DD日')} 
                if post.categories && post.categories.length
                  | in 
                  each cat, i in post.categories
                    span= cat.name
                    if i < post.categories.length - 1
                      | , 
                    else
                      |  
                if post.author
                  | by #{post.author.name.first}
              p!= post.content.brief
              if post.content.extended
                p.read-more:  Read more...
          if post.categories.length
            a(href='/articles/' + post.categories[0].key + '/' + post.slug)
              +nai()
          else
            a(href='/articles/' + '-' + '/' + post.slug)
              +nai()
    .pager
      ul
        li.current
          a(href="#") 1
        li
          a(href="#") 2
        li
          a(href="#") 3
        li
          a(href="#") 4
        li.next
          a(href="#") 次へ
